.photo-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  
  &__item {
    flex: 0 0 calc(33.333% - 14px);
    margin-bottom: 20px;
  }
}

@media (max-width: 992px) {
  .photo-list__item {
    flex: 0 0 calc(50% - 10px);
  }
}

@media (max-width: 576px) {
  .photo-list__item {
    flex: 0 0 100%;
  }
}